@use '../utilis/_mixins' as *;
@use '../utilis/variables' as *;

.about-us {
  @include pageGrid;

  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 96px;

  &__title {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: $main-text-color;
    grid-column: 1/-1;

    @include onTablet {
      grid-column: 1 / 4;
      font-size: 40px;
      margin-bottom: 0;
    }

    @include onDesktop {
      grid-column: 1/ 7;
      font-size: 48px;
    }
  }

  &__content {
    margin: 0;
    grid-column: 1/ -1;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }

    &__paragraph {
      margin: 0;
      font-family: "Space Mono", monospace;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $main-text-color;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}
