@use '../utilis/mixins.scss' as *;
@use '../utilis/variables.scss' as *;

.categories {
  margin: 0;
  margin-bottom: 96px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include on-tablet {
      gap: 56px;
    }
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: left;

    @include on-tablet {
      margin-top: 56px;
    }
  }

  &__link-all {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    letter-spacing: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    height: 56px;
    border-radius: 8px;
    width: 100%;

    box-sizing: border-box;
    background-color: $main-text-color;
    border: 2px solid transparent;
    color: #fff;
    transition:
      background-color $effect-duration,
      transform $effect-duration,
      color $effect-duration,
      border-color $effect-duration;

    @include on-tablet {
      font-size: 20px;
      width: 600px;
    }

    @include on-desktop {
      width: 324px;
    }

    &:hover {
      background-color: #f8f8fa;
      color: $main-text-color;
      border-color: #f0f1f4;
    }
  }
}

.category {
  &__images {
    @include page-grid(20px);

    grid-template-columns: repeat(var(--columns), 1fr);
    margin-bottom: 16px;
    gap: 20px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform $effect-duration;
  }

  &__link {
    display: block;
    font-size: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    line-height: 0;
    background-color: #f2f2f2;

    grid-column: span 1;
    height: auto;
    min-height: 0;

    @include on-tablet {
      aspect-ratio: auto;
      height: 184px;
    }

    @include on-desktop {
      height: 324px;
    }

    &:hover .category__photo {
      transform: scale(1.05);
    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
  }

  &__title {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    color: $main-text-color;

    @include on-tablet {
      font-size: 24px;
    }
  }
}
