
.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../../images/icons/Icon-phone.png);
}

.icon--menu {
  background-image: url(../../images/icons/Icon-menu.png);
}

.icon--close{
  background-image: url(../../images/icons/Icon-close.png);
}
