@use '../utilis/_mixins' as *;
@use '../utilis/variables.scss' as *;

.recommended {
  margin-bottom: 96px;

  &__product {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__products {
    @include pageGrid;
    grid-template-columns: repeat(var(--columns), 1fr);
    row-gap: 40px;
  }
}
