@use '../utilis/mixins.scss' as *;
@use '../utilis/variables.scss' as *;

.section-title {
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 48px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: left;

  @include on-tablet {
    margin-bottom: 56px;
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
  &--margin {
    margin-bottom: 24px;
  }
}
