/* #region page */
.page {
  color: #292929;
  line-height: 140%;
  scroll-behavior: smooth;

}

.page__body {
  margin: 0;
}

.page__menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target{
  opacity: 1;
  pointer-events: all;

}

/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-image: url(../images/header-bc-mobile.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top__img {
  display: flex;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__bot_title {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

/* #endregion */

/* #region menu */

.menu{
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-color: #E5E6E8;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

.menu__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu{
  margin-bottom: 48px;
}

.menu_phone-number{
  display: block;
  color: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__call-to-order{
  display: block;
  color: inherit;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 4px;
  border-bottom: 1px solid #292929;
  width: fit-content;
}

/* #endregion */

/* #region nav */

.nav__link{
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* #endregion */

/* #region icon */
.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../images/icons/Icon-phone.png);
}

.icon--menu {
  background-image: url(../images/icons/Icon-menu.png);
}

.icon--close{
  background-image: url(../images/icons/Icon-close.png);
}

/* #endregion */

/* #region body */

/* #endregion */

/* #region footer */

/* #endregion */
