@use './variables' as *;

@mixin on-tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin page-grid($row-gap: 0) {
  --columns: 2;

  display: grid;
  gap: $row-gap 20px;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  @include on-tablet {
    --columns: 6;

    gap: $row-gap 24px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin content-padding-in-line() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
    max-width: 600px;
  }

  @include on-desktop {
    padding-inline: 120px;
    margin-inline: auto;
    max-width: 1020px;
  }
}

.container {
  @include content-padding-in-line;
}

@mixin hover($property, $toValue) {
  transition: #{$property} $effect-duration;
  &:hover {
    #{$property}: $toValue;
  }
}
